/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/storage
/coverage
/.idea
/public/photos
/public/app
.htaccess
.env
.env-live
.env-live.zip
.env-stage
.env.dusk.development
.phpunit.result.cache
.DS_Store
_ide_helper.php
bq.live.json
logger.dev.json
logger.live.json
webpack-admin
webpack-moderator
/storage/app/backups
/storage/*.pid
/storage/debugbar
/storage/logs
/storage/clockwork
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.sublime-*
*.bak
debug.log
google-chrome-stable_current_amd64.deb
.phpunit.result.cache
